{%- liquid
  assign logo = section.settings.logo | default: shop.brand.logo
  assign logo_inverted = section.settings.logo_inverted
  assign desktop_logo_width = section.settings.desktop_logo_width
  assign mobile_logo_width = section.settings.mobile_logo_width
-%}

{%- style -%}
.header-item--logo,
.header-layout--left-center .header-item--logo,
.header-layout--left-center .header-item--icons {
  -webkit-box-flex: 0 1 {{ mobile_logo_width }}px;
  -ms-flex: 0 1 {{ mobile_logo_width }}px;
  flex: 0 1 {{ mobile_logo_width }}px;
}

@media only screen and (min-width: 769px) {
  .header-item--logo,
  .header-layout--left-center .header-item--logo,
  .header-layout--left-center .header-item--icons {
    -webkit-box-flex: 0 0 {{ desktop_logo_width }}px;
    -ms-flex: 0 0 {{ desktop_logo_width }}px;
    flex: 0 0 {{ desktop_logo_width }}px;
  }
}

.site-header__logo a {
  width: {{ mobile_logo_width }}px;
}
.is-light .site-header__logo .logo--inverted {
  width: {{ mobile_logo_width }}px;
}
@media only screen and (min-width: 769px) {
  .site-header__logo a {
    width: {{ desktop_logo_width }}px;
  }

  .is-light .site-header__logo .logo--inverted {
    width: {{ desktop_logo_width }}px;
  }
}
{%- endstyle -%}

{%- if template == 'index' -%}
  <h1 class="site-header__logo" itemscope itemtype="http://schema.org/Organization">
    <span class="visually-hidden">{{ shop.name }}</span>
{%- else -%}
  <div class="h1 site-header__logo" itemscope itemtype="http://schema.org/Organization">
{%- endif -%}

{%- if logo -%}
  {% comment %}
    .logo--has-inverted is only applied to the default logo if the inverted logo exists. That way it'll only be hidden on the slider when it has a backup.
  {% endcomment %}
  <a
    href="{{ routes.root_url }}"
    itemprop="url"
    class="site-header__logo-link{% if logo_inverted %} logo--has-inverted{% endif %}"
    style="padding-top: {{ 100 | divided_by: logo.aspect_ratio }}%">

    {%- assign logo_alt = logo.alt | default: shop.name -%}

    {%- assign desktop_2x = desktop_logo_width | times: 2 -%}
    {%- assign mobile_2x = mobile_logo_width | times: 2 -%}
    {%- capture desktop_sizes -%}{{ desktop_logo_width }}px{%- endcapture -%}
    {%- capture desktop_widths -%}{{ desktop_logo_width }}, {{ desktop_2x }}{%- endcapture -%}

    <picture>
      <source
        media="(max-width: 768px)"
        srcset="{{ logo | image_url: width: mobile_logo_width }} {{ mobile_logo_width }}w, {{ logo | image_url: width: mobile_2x }} {{ mobile_2x }}w"
        sizes="{{ mobile_logo_width }}px"
      >
      {{- logo
        | image_url: width: desktop_2x
        | image_tag:
          class: 'image-element',
          loading: 'eager',
          alt: logo_alt,
          sizes: desktop_sizes,
          widths: desktop_widths,
          itemprop: 'logo'
      -}}
    </picture>
  </a>
  {%- if logo_inverted -%}
    <a
      href="{{ routes.root_url }}"
      itemprop="url"
      class="site-header__logo-link logo--inverted"
      style="padding-top: {{ 100 | divided_by: logo_inverted.aspect_ratio }}%">

      {%- assign logo_inverted_alt = logo_inverted.alt | default: shop.name -%}

      {%- assign desktop_2x = desktop_logo_width | times: 2 -%}
      {%- assign mobile_2x = mobile_logo_width | times: 2 -%}
      {%- capture desktop_sizes -%}{{ desktop_logo_width }}px{%- endcapture -%}
      {%- capture desktop_widths -%}{{ desktop_logo_width }}, {{ desktop_2x }}{%- endcapture -%}

      <picture>
        <source
          media="(max-width: 768px)"
          srcset="{{ logo_inverted | image_url: width: mobile_logo_width }} {{ mobile_logo_width }}w, {{ logo_inverted | image_url: width: mobile_2x }} {{ mobile_2x }}w"
          sizes="{{ mobile_logo_width }}px"
        >
        {{- logo_inverted
          | image_url: width: desktop_2x
          | image_tag:
            class: 'image-element',
            loading: 'eager',
            alt: logo_inverted_alt,
            sizes: desktop_sizes,
            widths: desktop_widths,
            itemprop: 'logo'
        -}}
      </picture>
    </a>
  {%- endif -%}
{%- else -%}
  <a href="{{ routes.root_url }}" itemprop="url">{{ shop.name }}</a>
{%- endif -%}

{%- if template == 'index' -%}
  </h1>
{%- else -%}
  </div>
{%- endif -%}
