
{% liquid
  
    assign locales = shop.metafields.foxify.locales.value
    assign current_locale = request.locale.iso_code
    assign primary_locale = current_locale
    for locale in shop.published_locales
    if locale.primary
        assign primary_locale = locale.iso_code
        break
    endif
    endfor
    assign translation = locales[current_locale] | default: locales[primary_locale]

    assign theme_settings = shop.metafields.foxify.theme_settings.value
    assign productCard = theme_settings.productCard
  
  
      assign foxifyCustomCss = shop.metafields.foxify['6a3e6d5c7743c226071b2e3a'].value.customCss
      assign foxifyCustomJs = shop.metafields.foxify['6a3e6d5c7743c226071b2e3a'].value.customJs
    
%}

      <script>
        window.Foxify = window.Foxify || {}
        Foxify.ThemeStyles = {
          product: "https:{{ 'foxify-product.css' | asset_url }}",
          swiper: "https:{{ 'foxify-swiper.css' | asset_url }}",
        }

        Foxify.ThemeScripts = {
          productModel: "https:{{ 'foxify-product-model.js' | asset_url }}",
          productMedia: "https:{{ 'foxify-media-gallery.js' | asset_url }}",
          variantPicker: "https:{{ 'foxify-variant-picker.js' | asset_url }}"
        }

        Foxify.pageId = '1782476125GUER2';
        Foxify.default = false;
      </script>
    
<div class="x-app x-main">
<link href="https://fonts.googleapis.com/css2?family=Yeseva+One:wght@400&display=swap" id="Yeseva One" data-foxify-editor="font-components" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" id="Lato" data-foxify-editor="font-components" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" id="Plus Jakarta Sans" data-foxify-editor="font-components" rel="stylesheet">
{{ 'foxify-1782476125GUER2.css' | asset_url | stylesheet_tag }}
<style data-foxify-custom-code-page="css">{{ foxifyCustomCss }}</style>
<div data-foxify-editor="svg-templates" style="display: none;"></div>
<div id="x-v1x9nu76" class="x-section x-v1x9nu76"><div class="x-container x-layout-grid"><div id="x-5z0amoz1" class="x-layout-grid x-frame x-5z0amoz1 x-element"><div id="x-cohvws8d" class="x-layout-none x-custom-code x-cohvws8d x-element"><svg style="" width="1155" height="1032" viewBox="0 0 1155 1032" fill="none" xmlns="http://www.w3.org/2000/svg">
<g filter="url(#filter0_f_63_2904)">
<circle cx="689.5" cy="342.5" r="289.5" fill="#F0CAA4" fill-opacity="0.5"></circle>
</g>
<defs>
<filter id="filter0_f_63_2904" x="0" y="-347" width="1379" height="1379" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
<feGaussianBlur stdDeviation="200" result="effect1_foregroundBlur_63_2904"></feGaussianBlur>
</filter>
</defs>
</svg>
</div><div id="x-1vzslp3l" class="x-layout-none x-custom-code x-1vzslp3l x-element"><svg style="" width="1190" height="603" viewBox="0 0 1190 603" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="path-1-inside-1_63_3271" fill="white">
<path d="M1190 619C1190 454.831 1127.31 297.386 1015.73 181.301C904.144 65.2159 752.804 1.23944e-05 595 0C437.196 -1.23944e-05 285.856 65.2159 174.272 181.301C62.6874 297.386 2.38277e-05 454.831 0 619L595 619H1190Z"></path>
</mask>
<path d="M1190 619C1190 454.831 1127.31 297.386 1015.73 181.301C904.144 65.2159 752.804 1.23944e-05 595 0C437.196 -1.23944e-05 285.856 65.2159 174.272 181.301C62.6874 297.386 2.38277e-05 454.831 0 619L595 619H1190Z" stroke="#23596D" stroke-opacity="0.2" stroke-width="2" mask="url(#path-1-inside-1_63_3271)"></path>
</svg>
</div><div id="x-qd878s9r" class="x-layout-none x-custom-code x-qd878s9r x-element"><svg style="" width="1106" height="559" viewBox="0 0 1106 559" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="path-1-inside-1_63_3272" fill="white">
<path d="M1106 575C1106 422.501 1047.74 276.247 944.03 168.414C840.322 60.5802 699.665 1.15134e-05 553 0C406.335 -1.15134e-05 265.678 60.5802 161.97 168.414C58.2624 276.247 2.21458e-05 422.5 0 575L553 575H1106Z"></path>
</mask>
<path d="M1106 575C1106 422.501 1047.74 276.247 944.03 168.414C840.322 60.5802 699.665 1.15134e-05 553 0C406.335 -1.15134e-05 265.678 60.5802 161.97 168.414C58.2624 276.247 2.21458e-05 422.5 0 575L553 575H1106Z" stroke="#23596D" stroke-opacity="0.2" stroke-width="2" mask="url(#path-1-inside-1_63_3272)"></path>
</svg>
</div><div id="x-nyyrngmt" class="x-layout-none x-custom-code x-nyyrngmt x-element"></div>{% assign product_x-abam6u6a = product %}{% assign collection_x-abam6u6a = collection %}<p id="x-abam6u6a" class="x-layout-none x-text x-abam6u6a x-element x-rte">
{{ 'sections.foxify-1782476125GUER2.x-abam6u6a-text_html' | t }}</p>{% assign product_x-zwi4rp9z = product %}{% assign collection_x-zwi4rp9z = collection %}<p id="x-zwi4rp9z" class="x-layout-none x-text x-zwi4rp9z x-element x-rte">
{{ 'sections.foxify-1782476125GUER2.x-zwi4rp9z-text_html' | t }}</p><div id="x-1gr57i6r" class="x-layout-grid x-frame x-1gr57i6r x-element"><a id="x-v1n5gety" class="x-layout-none x-button x-v1n5gety x-element"><span>
{{ 'sections.foxify-1782476125GUER2.x-v1n5gety-button_label_html' | t }}</span></a><a id="x-o939013s" class="x-layout-none x-button x-o939013s x-element"><span>
{{ 'sections.foxify-1782476125GUER2.x-o939013s-button_label_html' | t }}</span></a></div><div id="x-dpkjg1a7" class="x-layout-grid x-frame x-dpkjg1a7 x-element"><div id="x-lj1naagn" class="x-layout-grid x-frame x-lj1naagn x-element"></div>{% assign product_x-dofn44i8 = product %}{% assign collection_x-dofn44i8 = collection %}<p id="x-dofn44i8" class="x-layout-none x-text x-dofn44i8 x-element x-rte">
{{ 'sections.foxify-1782476125GUER2.x-dofn44i8-text_html' | t }}</p><a id="x-oz7vggcl" class="x-layout-none x-button x-oz7vggcl x-element"><span>
{{ 'sections.foxify-1782476125GUER2.x-oz7vggcl-button_label_html' | t }}</span></a></div><div id="x-8mxtcf9c" class="x-layout-grid x-frame x-8mxtcf9c x-element"><div id="x-hiy7setj" class="x-layout-grid x-image-element x-hiy7setj x-element x-image--fill"><x-image class="x-image" data-priority="auto"><img srcset="https://cdn.shopify.com/s/files/1/0670/5951/5455/files/350769a2c630c7ba7d7bc1cd7fc58201c3efb49f.png?v=1782476166&width=165 165w, https://cdn.shopify.com/s/files/1/0670/5951/5455/files/350769a2c630c7ba7d7bc1cd7fc58201c3efb49f.png?v=1782476166&width=360 360w, https://cdn.shopify.com/s/files/1/0670/5951/5455/files/350769a2c630c7ba7d7bc1cd7fc58201c3efb49f.png?v=1782476166&width=533 533w, https://cdn.shopify.com/s/files/1/0670/5951/5455/files/350769a2c630c7ba7d7bc1cd7fc58201c3efb49f.png?v=1782476166&width=720 720w, https://cdn.shopify.com/s/files/1/0670/5951/5455/files/350769a2c630c7ba7d7bc1cd7fc58201c3efb49f.png?v=1782476166&width=940 940w, https://cdn.shopify.com/s/files/1/0670/5951/5455/files/350769a2c630c7ba7d7bc1cd7fc58201c3efb49f.png?v=1782476166&width=1066 1066w, https://cdn.shopify.com/s/files/1/0670/5951/5455/files/350769a2c630c7ba7d7bc1cd7fc58201c3efb49f.png?v=1782476166 1170w" src="//cdn.shopify.com/s/files/1/0670/5951/5455/files/350769a2c630c7ba7d7bc1cd7fc58201c3efb49f_360x.png?v=1782476166" sizes="(min-width: 1200px) 533px, (min-width: 990px) calc((100vw - 130px) / 3), (min-width: 750px) calc((100vw - 120px) / 2), calc((100vw - 35px) / 2)" alt="350769a2c630c7ba7d7bc1cd7fc58201c3efb49f" loading="lazy" width="1170" height="777" fetchpriority="auto"></x-image></div><div id="x-gf576qts" class="x-layout-none x-custom-code x-gf576qts x-element"><svg style="" width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="34" cy="34" r="34" fill="black" fill-opacity="0.3"></circle>
<path d="M46.5453 30.4707C47.1856 30.8112 47.7213 31.3196 48.0949 31.9413C48.4684 32.563 48.6658 33.2747 48.6658 34C48.6658 34.7253 48.4684 35.437 48.0949 36.0587C47.7213 36.6804 47.1856 37.1888 46.5453 37.5293L29.4626 46.8187C26.7119 48.316 23.3333 46.3693 23.3333 43.2907V24.7107C23.3333 21.6307 26.7119 19.6853 29.4626 21.18L46.5453 30.4707Z" fill="white"></path>
</svg>
</div></div><div id="x-olpuoh31" class="x-layout-grid x-frame x-olpuoh31 x-element"><div id="x-gpndwtaw" class="x-layout-grid x-frame x-gpndwtaw x-element"></div><div id="x-v8n1y0ig" class="x-layout-grid x-frame x-v8n1y0ig x-element">{% assign product_x-aikeeh0s = product %}{% assign collection_x-aikeeh0s = collection %}<p id="x-aikeeh0s" class="x-layout-none x-text x-aikeeh0s x-element x-rte">
{{ 'sections.foxify-1782476125GUER2.x-aikeeh0s-text_html' | t }}</p><div id="x-2ewts4w4" class="x-layout-grid x-image-element x-2ewts4w4 x-element x-image--fill"><x-image class="x-image" data-priority="auto"><img srcset="https://cdn.shopify.com/s/files/1/0670/5951/5455/files/9286a159b883cb5519ec30ee8ead1bb7d71f7d0d.jpg?v=1782477301&width=165 165w, https://cdn.shopify.com/s/files/1/0670/5951/5455/files/9286a159b883cb5519ec30ee8ead1bb7d71f7d0d.jpg?v=1782477301&width=360 360w, https://cdn.shopify.com/s/files/1/0670/5951/5455/files/9286a159b883cb5519ec30ee8ead1bb7d71f7d0d.jpg?v=1782477301&width=533 533w, https://cdn.shopify.com/s/files/1/0670/5951/5455/files/9286a159b883cb5519ec30ee8ead1bb7d71f7d0d.jpg?v=1782477301&width=720 720w, https://cdn.shopify.com/s/files/1/0670/5951/5455/files/9286a159b883cb5519ec30ee8ead1bb7d71f7d0d.jpg?v=1782477301&width=940 940w, https://cdn.shopify.com/s/files/1/0670/5951/5455/files/9286a159b883cb5519ec30ee8ead1bb7d71f7d0d.jpg?v=1782477301&width=1066 1066w, https://cdn.shopify.com/s/files/1/0670/5951/5455/files/9286a159b883cb5519ec30ee8ead1bb7d71f7d0d.jpg?v=1782477301&width=1500 1500w, https://cdn.shopify.com/s/files/1/0670/5951/5455/files/9286a159b883cb5519ec30ee8ead1bb7d71f7d0d.jpg?v=1782477301&width=1780 1780w, https://cdn.shopify.com/s/files/1/0670/5951/5455/files/9286a159b883cb5519ec30ee8ead1bb7d71f7d0d.jpg?v=1782477301 1880w" src="//cdn.shopify.com/s/files/1/0670/5951/5455/files/9286a159b883cb5519ec30ee8ead1bb7d71f7d0d_360x.jpg?v=1782477301" sizes="(min-width: 1200px) 533px, (min-width: 990px) calc((100vw - 130px) / 3), (min-width: 750px) calc((100vw - 120px) / 2), calc((100vw - 35px) / 2)" alt="9286a159b883cb5519ec30ee8ead1bb7d71f7d0d" loading="lazy" width="1880" height="1253" fetchpriority="auto"></x-image></div><div id="x-vkvleio4" class="x-layout-grid x-frame x-vkvleio4 x-element"><div id="x-c5mdqdwu" class="x-layout-auto x-stack x-c5mdqdwu x-element">{% assign product_x-itfc0h49 = product %}{% assign collection_x-itfc0h49 = collection %}<p id="x-itfc0h49" class="x-layout-none x-text x-itfc0h49 x-element x-rte">
{{ 'sections.foxify-1782476125GUER2.x-itfc0h49-text_html' | t }}</p></div><div id="x-itr7ul9w" class="x-layout-auto x-stack x-itr7ul9w x-element">{% assign product_x-smircmxc = product %}{% assign collection_x-smircmxc = collection %}<p id="x-smircmxc" class="x-layout-none x-text x-smircmxc x-element x-rte">
{{ 'sections.foxify-1782476125GUER2.x-smircmxc-text_html' | t }}</p></div><div id="x-dnzm2vw3" class="x-layout-none x-custom-code x-dnzm2vw3 x-element"><svg style="" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="40" height="40" rx="5" fill="#87BCC7" fill-opacity="0.2"></rect>
<path d="M13.825 29L15.45 21.975L10 17.25L17.2 16.625L20 10L22.8 16.625L30 17.25L24.55 21.975L26.175 29L20 25.275L13.825 29Z" fill="#87BCC7"></path>
</svg>
</div></div><div id="x-20q608t1" class="x-layout-grid x-frame x-20q608t1 x-element"><div id="x-7v9emo7k" class="x-layout-auto x-stack x-7v9emo7k x-element">{% assign product_x-yiwcavbc = product %}{% assign collection_x-yiwcavbc = collection %}<p id="x-yiwcavbc" class="x-layout-none x-text x-yiwcavbc x-element x-rte">
{{ 'sections.foxify-1782476125GUER2.x-yiwcavbc-text_html' | t }}</p></div><div id="x-6wpfaieb" class="x-layout-none x-custom-code x-6wpfaieb x-element"><svg style="" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="40" height="40" rx="5" fill="#ED8772" fill-opacity="0.2"></rect>
<g clip-path="url(#clip0_63_2689)">
<path d="M28.3333 11.8749H25.625V10.6249C25.6251 10.4592 25.5594 10.3002 25.4422 10.1829C25.3251 10.0656 25.1662 9.99962 25.0004 9.99951C24.8347 9.9994 24.6756 10.0651 24.5584 10.1823C24.4411 10.2994 24.3751 10.4583 24.375 10.6241V11.8749H20.625V10.6249C20.6251 10.5429 20.6089 10.4616 20.5776 10.3857C20.5462 10.3099 20.5002 10.2409 20.4422 10.1829C20.3842 10.1248 20.3154 10.0787 20.2396 10.0472C20.1638 10.0158 20.0825 9.99957 20.0004 9.99951C19.8347 9.9994 19.6756 10.0651 19.5584 10.1823C19.4411 10.2994 19.3751 10.4583 19.375 10.6241V11.8749H15.625V10.6249C15.6251 10.5429 15.6089 10.4616 15.5776 10.3857C15.5462 10.3099 15.5002 10.2409 15.4422 10.1829C15.3842 10.1248 15.3154 10.0787 15.2396 10.0472C15.1638 10.0158 15.0825 9.99957 15.0004 9.99951C14.8347 9.9994 14.6756 10.0651 14.5584 10.1823C14.4411 10.2994 14.3751 10.4583 14.375 10.6241V11.8749H11.6667C11.2248 11.8749 10.801 12.0504 10.4884 12.3628C10.1759 12.6752 10.0002 13.0989 10 13.5408V28.3324C10 28.7745 10.1756 29.1984 10.4882 29.5109C10.8007 29.8235 11.2246 29.9991 11.6667 29.9991H28.3333C28.7754 29.9991 29.1993 29.8235 29.5118 29.5109C29.8244 29.1984 30 28.7745 30 28.3324V13.5408C29.9998 13.0989 29.8241 12.6752 29.5115 12.3628C29.199 12.0504 28.7752 11.8749 28.3333 11.8749ZM28.75 28.3333C28.75 28.4436 28.7062 28.5495 28.6283 28.6276C28.5503 28.7057 28.4445 28.7497 28.3342 28.7499H11.6667C11.5562 28.7499 11.4502 28.706 11.372 28.6279C11.2939 28.5498 11.25 28.4438 11.25 28.3333V13.5416C11.2502 13.4312 11.2942 13.3255 11.3723 13.2475C11.4504 13.1695 11.5563 13.1258 11.6667 13.1258H14.375V14.3758C14.3749 14.5415 14.4406 14.7005 14.5578 14.8178C14.6749 14.9351 14.8338 15.0011 14.9996 15.0012C15.1653 15.0013 15.3244 14.9355 15.4416 14.8184C15.5589 14.7013 15.6249 14.5424 15.625 14.3766V13.1258H19.375V14.3758C19.3749 14.5415 19.4406 14.7005 19.5578 14.8178C19.6749 14.9351 19.8338 15.0011 19.9996 15.0012C20.1653 15.0013 20.3244 14.9355 20.4416 14.8184C20.5589 14.7013 20.6249 14.5424 20.625 14.3766V13.1258H24.375V14.3758C24.3749 14.5415 24.4406 14.7005 24.5578 14.8178C24.6749 14.9351 24.8338 15.0011 24.9996 15.0012C25.1653 15.0013 25.3244 14.9355 25.4416 14.8184C25.5589 14.7013 25.6249 14.5424 25.625 14.3766V13.1258H28.3333C28.4436 13.126 28.5492 13.1699 28.6271 13.2478C28.7051 13.3257 28.7489 13.4314 28.7492 13.5416L28.75 28.3333Z" fill="#ED8772"></path>
<path d="M14.375 17.5H16.875V19.375H14.375V17.5ZM14.375 20.625H16.875V22.5H14.375V20.625ZM14.375 23.75H16.875V25.625H14.375V23.75ZM18.75 23.75H21.25V25.625H18.75V23.75ZM18.75 20.625H21.25V22.5H18.75V20.625ZM18.75 17.5H21.25V19.375H18.75V17.5ZM23.125 23.75H25.625V25.625H23.125V23.75ZM23.125 20.625H25.625V22.5H23.125V20.625ZM23.125 17.5H25.625V19.375H23.125V17.5Z" fill="#ED8772"></path>
</g>
<defs>
<clipPath id="clip0_63_2689">
<rect width="20" height="20" fill="white" transform="translate(10 10)"></rect>
</clipPath>
</defs>
</svg>
</div><div id="x-h981ixrm" class="x-layout-auto x-stack x-h981ixrm x-element">{% assign product_x-ncl9ba1h = product %}{% assign collection_x-ncl9ba1h = collection %}<p id="x-ncl9ba1h" class="x-layout-none x-text x-ncl9ba1h x-element x-rte">
{{ 'sections.foxify-1782476125GUER2.x-ncl9ba1h-text_html' | t }}</p></div></div><div id="x-qwzarmns" class="x-layout-grid x-frame x-qwzarmns x-element"><div id="x-xk3wd6bm" class="x-layout-auto x-stack x-xk3wd6bm x-element">{% assign product_x-azvs02d6 = product %}{% assign collection_x-azvs02d6 = collection %}<p id="x-azvs02d6" class="x-layout-none x-text x-azvs02d6 x-element x-rte">
{{ 'sections.foxify-1782476125GUER2.x-azvs02d6-text_html' | t }}</p></div><div id="x-q34wuey0" class="x-layout-none x-custom-code x-q34wuey0 x-element"><svg style="" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="40" height="40" rx="5" fill="#F0CAA4" fill-opacity="0.2"></rect>
<path d="M25.8335 17.6666C27.7665 17.6666 29.3335 16.0996 29.3335 14.1666C29.3335 12.2336 27.7665 10.6666 25.8335 10.6666C23.9005 10.6666 22.3335 12.2336 22.3335 14.1666C22.3335 16.0996 23.9005 17.6666 25.8335 17.6666Z" stroke="#F0CAA4" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path>
<path d="M14.1667 29.3333C16.0997 29.3333 17.6667 27.7662 17.6667 25.8333C17.6667 23.9003 16.0997 22.3333 14.1667 22.3333C12.2338 22.3333 10.6667 23.9003 10.6667 25.8333C10.6667 27.7662 12.2338 29.3333 14.1667 29.3333Z" stroke="#F0CAA4" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path>
<path d="M22.3334 22.3333H29.3334V28.1666C29.3334 28.476 29.2105 28.7728 28.9917 28.9916C28.7729 29.2104 28.4762 29.3333 28.1667 29.3333H23.5001C23.1907 29.3333 22.8939 29.2104 22.6751 28.9916C22.4563 28.7728 22.3334 28.476 22.3334 28.1666V22.3333ZM10.6667 10.6666H17.6667V16.5C17.6667 16.8094 17.5438 17.1061 17.325 17.3249C17.1062 17.5437 16.8095 17.6666 16.5001 17.6666H11.8334C11.524 17.6666 11.2272 17.5437 11.0085 17.3249C10.7897 17.1061 10.6667 16.8094 10.6667 16.5V10.6666Z" stroke="#F0CAA4" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>
</div><div id="x-xm6yi5gt" class="x-layout-auto x-stack x-xm6yi5gt x-element">{% assign product_x-t6b9lk91 = product %}{% assign collection_x-t6b9lk91 = collection %}<p id="x-t6b9lk91" class="x-layout-none x-text x-t6b9lk91 x-element x-rte">
{{ 'sections.foxify-1782476125GUER2.x-t6b9lk91-text_html' | t }}</p></div></div><div id="x-2y899x9c" class="x-layout-grid x-frame x-2y899x9c x-element"><div id="x-t9hnr0zp" class="x-layout-auto x-stack x-t9hnr0zp x-element">{% assign product_x-dfe72j5i = product %}{% assign collection_x-dfe72j5i = collection %}<p id="x-dfe72j5i" class="x-layout-none x-text x-dfe72j5i x-element x-rte">
{{ 'sections.foxify-1782476125GUER2.x-dfe72j5i-text_html' | t }}</p></div><div id="x-qcqsjdqa" class="x-layout-none x-custom-code x-qcqsjdqa x-element"><svg style="" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="40" height="40" rx="5" fill="#1A2E38" fill-opacity="0.1"></rect>
<path d="M14 23H11M11 29H23C23.932 29 24.398 29 24.765 28.848C25.0078 28.7475 25.2284 28.6001 25.4143 28.4143C25.6001 28.2284 25.7475 28.0078 25.848 27.765C26 27.398 26 26.932 26 26C26 25.068 26 24.602 25.848 24.235C25.7475 23.9922 25.6001 23.7716 25.4143 23.5857C25.2284 23.3999 25.0078 23.2525 24.765 23.152C24.398 23 23.932 23 23 23H21H26C26.932 23 27.398 23 27.765 22.848C28.0078 22.7475 28.2284 22.6001 28.4143 22.4143C28.6001 22.2284 28.7475 22.0078 28.848 21.765C29 21.398 29 20.932 29 20C29 19.068 29 18.602 28.848 18.235C28.7475 17.9922 28.6001 17.7716 28.4143 17.5857C28.2284 17.3999 28.0078 17.2525 27.765 17.152C27.398 17 26.932 17 26 17H11H22C22.932 17 23.398 17 23.765 16.848C24.0078 16.7475 24.2284 16.6001 24.4143 16.4143C24.6001 16.2284 24.7475 16.0078 24.848 15.765C25 15.398 25 14.932 25 14C25 13.068 25 12.602 24.848 12.235C24.7475 11.9922 24.6001 11.7716 24.4143 11.5857C24.2284 11.3999 24.0078 11.2525 23.765 11.152C23.398 11 22.932 11 22 11H11" stroke="#23596D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
<path d="M21 17V23.19C21 24.305 21 24.862 20.674 24.98C20.347 25.1 19.978 24.676 19.241 23.83L18.759 23.278C18.406 22.873 18.23 22.671 18 22.671C17.77 22.671 17.594 22.873 17.24 23.278L16.76 23.83C16.022 24.676 15.653 25.1 15.327 24.98C15 24.862 15 24.305 15 23.19V17" stroke="#23596D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>
</div><div id="x-0rl6syu3" class="x-layout-auto x-stack x-0rl6syu3 x-element">{% assign product_x-stg4woa8 = product %}{% assign collection_x-stg4woa8 = collection %}<p id="x-stg4woa8" class="x-layout-none x-text x-stg4woa8 x-element x-rte">
{{ 'sections.foxify-1782476125GUER2.x-stg4woa8-text_html' | t }}</p></div></div><div id="x-go73nrwl" class="x-layout-grid x-frame x-go73nrwl x-element">{% assign product_x-uuyoifvl = product %}{% assign collection_x-uuyoifvl = collection %}<p id="x-uuyoifvl" class="x-layout-none x-text x-uuyoifvl x-element x-rte">
{{ 'sections.foxify-1782476125GUER2.x-uuyoifvl-text_html' | t }}</p></div></div></div></div></div></div>
<script data-foxify-custom-code-page="js" defer>{{ foxifyCustomJs }}</script>
{% liquid
            assign theme_settings = shop.metafields.foxify.theme_settings.value
            assign customCodeBody = theme_settings.customCodeBody
            echo customCodeBody
          %}

</div>
{% schema %}
  {
  "name": "Foxify main content",
  "class": "foxify-main f-app",
  "settings": [
    {
      "type": "header",
      "content": "Customize main content",
      "info": "Go to [Foxify app](https://admin.shopify.com/store/tabchilli-dev/apps/foxify-builder/studio?id=1782476125GUER2&type=regular) to edit this section."
    }
  ],
  "locales": {
    "en": {
      "x-abam6u6a-text_html": "Learn with Purpose. <br>Grow with Confidence.",
      "x-zwi4rp9z-text_html": "Discover online courses designed to help you build knowledge, improve skills, and achieve meaningful progress from anywhere in the world.<br>Mutamaiyez is a modern online education platform offering structured courses across multiple subjects, including languages, academic support, business, technology, personal development, professional skills, specialized programs, and Islamic courses such as Qur'an, Arabic, and Islamic Studies.<br>Learn from qualified instructors through live online classes, flexible programs, and practical learning experiences.",
      "x-9jzz5zi8-button_label_html": "12,000+",
      "x-tj13ahjk-button_label_html": "Active Learners",
      "x-v1n5gety-button_label_html": "Explore Courses",
      "x-o939013s-button_label_html": "Start Learning",
      "x-dofn44i8-text_html": "What do you want to learn today?",
      "x-oz7vggcl-button_label_html": "Search",
      "x-opf1xl1o-button_label_html": "85+",
      "x-b93olu91-button_label_html": "Expert Instructors",
      "x-tj187923-button_label_html": "200+",
      "x-fen4keak-button_label_html": "Courses Available",
      "x-aikeeh0s-text_html": "Why Mutamaiyez",
      "x-itfc0h49-text_html": "Expert Instructors",
      "x-smircmxc-text_html": "Learn from qualified teachers, trainers, and professionals with strong subject knowledge and clear teaching methods.",
      "x-yiwcavbc-text_html": "Study from anywhere through live online classes, online course materials, and flexible learning options.",
      "x-ncl9ba1h-text_html": "Flexible Online Learning",
      "x-azvs02d6-text_html": "Explore general education courses and Islamic learning programs in one professional online platform.",
      "x-t6b9lk91-text_html": "Multiple Learning Areas",
      "x-dfe72j5i-text_html": "Follow organized learning paths designed to help you progress step by step.",
      "x-stg4woa8-text_html": "Structured Courses",
      "x-uuyoifvl-text_html": "Platform Highlights"
    }
  }
}
{% endschema %}
  